<div class="example-container">
  <h2 class="list-header">
    To Buy
    <button (click)="addItemBuy()" color="primary" class="add-buy-button" mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        add_shopping_cart
      </mat-icon>
    </button>
  </h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="tobuy"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event,1)"
    style="margin-top:15px;">
    <div class="example-box" *ngFor="let item of tobuy" cdkDrag>
      {{item.order}} - {{item.dateToBuy | date: 'dd/MM/yyyy'}} {{item.name | ellipsis:20}} 
      <div class="spacer"></div>
      <div style="display: flex">
        <div style="margin: auto 10px;">{{ rangeToBuy(item) }}</div>
          
        <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="after">
          <button (click)="updateItem(item)" mat-menu-item>
            <span>Update</span>
          </button>
          <!-- <button (click)="updateOwner(row)" mat-menu-item>
            <span>B</span>
          </button>
          <button (click)="deleteDialog(row)" mat-menu-item>
            <span>C</span>
          </button> -->
        </mat-menu>
      </div>
    </div>
  </div>

  <h4>Total: {{toBuyAmount}}</h4>
</div>

<div class="example-container">
  <h2 class="list-header">Purchased</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="purchased"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event,2)"
    style="margin-top:15px;">
    <div class="example-box" *ngFor="let item of purchased" cdkDrag [cdkDragDisabled]="true">
        {{item.order}} - {{item.datePurchased | date: 'dd/MM/yyyy'}} {{item.name}}
        <div class="spacer"></div>
        ${{item.finalPieceValue}} x {{item.count}} = ${{item.finalTotalValue}}
    </div>
  </div>

  <h4>Total: {{purchasedAmount}}</h4>
</div>
